<div class="bg-white rounded-md p-4 flex flex-row justify-between  max-w-full ">
    <div class="w-3/5 flex flex-row items-center justify-start space-x-5 sm:space-x-5">
        <div class="flex items-center justify-center w-[80px] md:w-[150px]">
            <img src="assets/imgs/profile.svg" class="w-[80px] md:w-[100px]" alt="profil">
        </div>
        <div class="flex flex-col items-start justify-start space-y-1 sm:space-y-2">
            <dd class="inline-flex space-x-1 sm:space-x-3">
                <dl><span class="text-sm sm:text-base md:text-lg leading-[4px] font-light text-gray-400">John Doe</span></dl>
                <dl class=""><span class="text-[8px] leading-[4px] sm:text-xs font-light text-gray-400 text-start">crypto currency expert
                        active since 2020</span></dl>
            </dd>
            <p class="text-xs md:text-sm font-light text-gray-400 line-clamp-1 sm:line-clamp-2 lg:line-clamp-3">neque vitae tempus quam pellentesque nec nam aliquam sem et
                tortor consequat id porta nibh venenatis cras sed felis eget</p>
        </div>
    </div>

    <div class="flex flex-row items-center justify-center space-x-6 w-2/5">
        <dd class="flex flex-col space-y-2 justify-center items-center">
            <dl><img src="assets/imgs/checkbox.svg" class="w-6 md:w-8" alt=""></dl>
            <dl class="flex flex-row space-x-1 text-gray-400 justify-center items-start">
                <span class="text-gray-400 text-center text-[9px] md:text-xs">Request for free 
                an opinion</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-gray-400 w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                  </svg>
                  
            </dl>
        </dd>
        <dd class="flex flex-col space-y-2 justify-center items-center">
            <dl><img src="assets/imgs/calendar.svg" class="w-6 md:w-8" alt=""></dl>
            <dl class="flex flex-row space-x-1 text-gray-400 justify-center items-start">
                <span class="text-gray-400 text-[9px] md:text-xs text-center">Get appointment</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-gray-400 w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                  </svg>
                  
            </dl>
        </dd>
    </div>

</div>