<footer class="bg-footer md:bg-cover bg-top bg-no-repeat" aria-labelledby="footer-heading">
  <div
    class="mx-auto max-w-full lg:max-w-[90%]  px-6 py-16 sm:py-24 lg:px-8 flex flex-col justify-center items-center space-y-8">
    <div
      class="justify-center items-center lg:justify-between lg:items-start flex flex-col lg:flex-row lg:space-y-0 space-y-10 space-x-0 lg:space-x-10">
      <div class="flex flex-row text-center items-center justify-center">
        <img class="h-16" src="assets/imgs/logo-h.svg" alt="WalletGPT">
      </div>
      <div class="flex flex-row justify-between items-start space-x-8 md:space-x-8 ">
        <div class="flex flex-col justify-between items-start">
          <h3 class="text-lg font-semibold leading-6 text-primary">Wallet GPT</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a href="#" class="text-base md:text-lg leading-6 text-primary/50">Statistics
              </a>
            </li>
            <li>
              <a href="#" class="text-base md:text-lg leading-6 text-primary/50">Investors access
              </a>
            </li>
            <li>
              <a href="#" class="text-base md:text-lg leading-6 text-primary/50">Ecosystem walletGPT
              </a>
            </li>
            <li>
              <a href="#" class="text-base md:text-lg leading-6 text-primary/50">Training center
              </a>
            </li>
            <li>
              <a href="#" class="text-base md:text-lg leading-6 text-primary/50">Payment solutions</a>
            </li>
            <li>
              <a href="#" class="text-base md:text-lg leading-6 text-primary/50">Terms and conditions</a>
            </li>
          </ul>
        </div>
        <div class="flex flex-col justify-between items-start">
          <h3 class="text-lg font-semibold leading-6 text-primary">wGPT</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a href="#" class="text-base md:text-lg leading-6 text-primary/50">Hybrid bond issue</a>
            </li>
            <li>
              <a href="#" class="text-base md:text-lg leading-6 text-primary/50">Airdrop wGPT</a>
            </li>
            <li>
              <a href="#" class="text-base md:text-lg leading-6 text-primary/50">white paper wGPT</a>
            </li>
            <li>
              <a href="#" class="text-base md:text-lg leading-6 text-primary/50">tradingGPT</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center md:justify-between md:items-start">
        <h3 class="text-lg font-semibold leading-6 text-primary">Contact</h3>
        <ul role="list"
          class="mt-6 space-y-4 flex flex-col justify-center items-center md:justify-between md:items-start">
          <li>
            <a class="text-base md:text-lg leading-6 text-primary/50 hover:text-primary/50">C-Kapital sas
            </a>
          </li>
          <li>
            <a class="text-base md:text-lg leading-6 text-primary/50 hover:text-primary/50">Headquarters: 250 bis <br>
              boulevard Saint Germain <br> 75007 Paris France
            </a>
          </li>
          <li>
            <a href="tel:+33672941282" class="text-base md:text-lg leading-6 text-primary/50 hover:text-primary/50">+33 6 72
              94 12 82</a>
          </li>
        </ul>
      </div>
      <!-- </div> -->
      <div class="flex flex-col space-y-6 justify-center items-center md:justify-between md:items-start ">
        <h3 class="text-lg font-light leading-6 text-primary flex flex-row space-x-2 items-center">
          <span>WalletGPT</span> <img src="assets/imgs/star.svg" alt=""><img src="assets/imgs/trust.svg" alt=""></h3>
        <h3 class="text-lg font-semibold leading-6 text-primary">Join us !</h3>
        <div class="flex flex-col space-y-4">
          <div class="flex flex-row space-x-6 justify-start">
            <a href="#">
              <img src="assets/imgs/facebook.svg" class="w-10" alt="et_facebook">
            </a>
            <a href="#">
              <img src="assets/imgs/discord.svg" class="w-10" alt="et_twitter">
            </a>
            <a href="#">
              <img src="assets/imgs/instagram.svg" class="w-10" alt="carbon_logo-instagram">
            </a>
            <a href="#">
              <img src="assets/imgs/linkedin.svg" class="w-10" alt="carbon_logo-instagram">
            </a>
            <a href="#">
              <img src="assets/imgs/telegram.svg" class="w-10" alt="carbon_logo-instagram">
            </a>
          </div>
          <div class="items-center flex flex-row space-x-6 justify-start">
            <span class="text-base font-medium leading-6 text-primary">active member</span>
            <img src="assets/imgs/france-ia.svg" alt="franceIA">
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center space-y-6 w-full">
      <p class="text-primary/50 px-6 md:px-20 text-center max-w-7xl"> <strong>Disclaimer:</strong>  Walletgpt has not independently verified any of the information in offers published through our dashboard and makes no warranty as to its accuracy or completeness. This information does not constitute an offer to sell, solicit or make an offer to buy an investment interest. Offers to sell, or the solicitation of offers to buy, any security can only be made through official offering documents, such as a subscription agreement and private placement memorandum.</p>
      <span class="text-lg font-semibold leading-6 text-primary">© 2023 All rights reserved by walletGPT</span>
    </div>
  </div>
</footer>