<div class="bg-grad min-w-full overflow-hidden">
    <app-header-two></app-header-two>
  
    <section
      class="w-full pb-6 bg-calque bg-cover bg-center  bg-no-repeat overflow-hidden flex flex-col  justify-center items-center">
      <div
        class="max-w-7xl px-6 lg:px-8 flex flex-col space-y-28 justify-center items-center gsap_reveal gsap_reveal--fromBottom ">
        <div
          class="flex flex-col md:flex-row justify-center md:justify-between items-center space-x-0 md:space-x-8 space-y-8 md:space-y-0 w-full">
  
          <div class="w-full flex flex-col space-y-5 justify-center md:justify-start text-white">
            <h1 class=" title  text-white px-[3px] bg-clip-text ">Let the smart wallet outperform for you
            </h1>
            <p class="mt-6">Buy, sell, invest and earn cryptocurrencies
              around the world !</p>
            <app-chat-gpt></app-chat-gpt>
          </div>
  
          <div class="w-full flex justify-center items-center">
            <img class="w-11/12" src="assets/imgs/robot-card.svg" alt="">
          </div>
        </div>
  
  
  
        <!--Sous partie Debut-->
        <div class="flex justify-center items-cente ">
          <img src="assets/imgs/wallet+gpt.svg" class="w-auto" alt="">
        </div>
  
        <!--Sous partie Fin-->
        <div class="flex flex-col space-y-6 justify-center items-center w-full  gsap_reveal gsap_reveal--fromBottom">
          <h2 class="text-center space-y-[35px] tracking-wide uppercase sm:text-xl text-white text-xl  font-bold ">They
            talk
            about us</h2>
          <div
            class="grid grid-cols-2 gap-6 md:gap-0  md:flex md:flex-row space-x-6 md:space-x-12 lg:space-x-28  px-8 py-5 max-w-full mx-5 md:max-w-7xl md:min-w-7xl justify-between items-center bg-[#1D1F3D80] rounded-lg">
            <img src="assets/imgs/fastcompany.svg" alt="forbes">
            <img src="assets/imgs/techcrunch.svg" alt="forbes">
            <img src="assets/imgs/mit.svg" alt="forbes">
            <img src="assets/imgs/forbes.svg" alt="forbes">
          </div>
        </div>
        <div
          class="flex flex-col md:flex-row justify-center md:justify-between items-center space-y-16 md:space-y-0 space-x-0 md:space-x-16 max-w-full px-3 md:max-w-7xl  gsap_reveal gsap_reveal--fromBottom">
          <div class="flex flex-col justify-center items-center w-full">
            <img src="assets/imgs/chatwgpt.svg" class="w-11/12" alt="dashboard">
          </div>
  
          <div class="w-full flex flex-col space-y-6 justify-start text-white">
            <h1 class="font-bold leading-[101%] text-4xl md:text-[50px] text-white px-[3px] bg-clip-text">A smart wallet
              that links up with you like your old friend </h1>
            <app-chat-gpt></app-chat-gpt>
          </div>
        </div>
  
        <div class="flex flex-col space-y-6 justify-center items-center w-full  gsap_reveal gsap_reveal--fromBottom max-w-full px-3 md:max-w-7xl">
          <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  w-full gap-8">
            <li class="bg-white/20 py-8 px-8 rounded-md flex flex-row space-x-4 ">
              <div class="flex justify-start items-center space-x-3">
                <img src="assets/imgs/shield.svg" class="">
                <span class="text-white font-normal text-base">Find the best passive gains</span>
              </div>
            </li>
            <li class="bg-white/20 py-8 px-8 rounded-md flex flex-row space-x-4 w-full">
              <div class="flex justify-start items-center space-x-3">
                <img src="assets/imgs/shield.svg" class="">
                <span class="text-white font-normal text-base">Finding the Best Trades</span>
              </div>
            </li>
            <li class="bg-white/20 py-8 px-8 rounded-md flex flex-row space-x-4 w-full">
              <div class="flex justify-start items-center space-x-3">
                <img src="assets/imgs/shield.svg" class="">
                <span class="text-white font-normal text-base">Find the best investments</span>
              </div>
            </li>
            <li class="bg-white/20 py-8 px-8 rounded-md flex flex-row space-x-4 w-full">
              <div class="flex justify-start items-center space-x-3">
                <img src="assets/imgs/shield.svg" class="">
                <span class="text-white font-normal text-base">Find the most stable positions</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
  
    </section>
  
  
  
  
  
    <!--troisieme partie Debut-->
    <!-- <section
      class="py-14 md:py-16 flex flex-col space-y-32  justify-center items-center bg-footer  bg-no-repeat  w-full">
  
      <div
        class="flex flex-col md:flex-row justify-center md:justify-between items-center space-y-16 md:space-y-0 space-x-0 md:space-x-16 max-w-full px-3 md:max-w-7xl  gsap_reveal gsap_reveal--fromBottom">
        <div class="flex flex-col justify-center items-center w-full">
          <img src="assets/imgs/chatwgpt.svg" class="w-11/12" alt="dashboard">
        </div>
  
        <div class="w-full flex flex-col space-y-5 justify-start text-white">
          <h1 class="font-bold leading-[101%] text-4xl md:text-[50px] text-white px-[3px] bg-clip-text">A smart wallet
            that links up with you like your old friend </h1>
          <p class="mt-6">Ask him all questions to upgrade your assets’ earnings</p>
          <div class="flex flex-row space-x-1 h-12 bg-white/30 rounded-lg w-full">
            <span
              class="block w-full   text-base border-0 element bg-transparent py-3 px-3 text-white outline-none placeholder:text-white  sm:text-base sm:leading-6"
              typingAnimator [typeSpeed]="100" [startDelay]="1000" [showCursor]="false"
              [sentences]="['Ask me anything ...', 'I optimise the prompt ...', 'I buy trade invested for you, even if you are not present ...']"></span> -->
    <!-- <input type="text" name="price" 
            class="block w-full  text-base border-0 element bg-transparent py-3 px-3 text-white outline-none placeholder:text-white  sm:text-base sm:leading-6"
             aria-describedby="price-currency"> -->
    <!-- <div class="pointer-events-none  flex items-center pr-3">
              <span class="text-gray-500 sm:text-base" id="price-currency"><img src="assets/imgs/send.svg" class=""
                  alt=""></span>
            </div>
          </div>
        </div>
      </div>
    </section> -->
  
    <!--Troisieme partie Fin-->
  
  
    <!--Quatrieme partie Debut-->
    <section class="py-14 md:py-16 flex flex-col space-y-14 justify-center items-cente w-full">
  
      <div
        class="flex flex-col space-y-6 md:space-y-8 justify-center items-center w-full  gsap_reveal gsap_reveal--fromBottom">
  
        <div class="flex flex-col justify-center items-center">
          <h2 class="text-center   leading-7 tracking-[10%] uppercase sm:text-xl text-white text-xl  font-bold ">BENEFITS
          </h2>
        </div>
        <ul role="list" class="grid grid-cols-1 gap-6  md:grid-cols-3 md:gap-6 max-w-full md:max-w-7xl px-6 md:px-2">
          <li
            class="overflow-hidden rounded-xl bg-[#44185B] hover:bg-white/20 border-none py-10 px-16 flex flex-col space-y-6 items-center justify-center">
            <div class="flex flex-col space-y-6 items-center justify-center  ">
              <img src="assets/imgs/bank.svg" alt="Tuple" class="w-auto">
              <dl class="text-lg text-white text-center">
                <p class="text-center text-lg text-white">Secure data <br>
                  Instant payment</p>
              </dl>
            </div>
          </li>
          <li
            class="overflow-hidden rounded-xl bg-[#44185B]  hover:bg-white/20 border-none py-10 px-16 flex flex-col space-y-6 items-center justify-center">
            <div class="flex flex-col space-y-6 items-center justify-center  ">
              <img src="assets/imgs/dollar.svg" alt="Tuple" class="w-auto">
              <dl class="text-lg text-white text-center">
                <p class="text-center text-lg text-white">Online investment<br>
                  Smarter income streams </p>
              </dl>
            </div>
          </li>
          <li
            class="overflow-hidden rounded-xl bg-[#44185B]  hover:bg-white/20 border-none py-10 px-16 flex flex-col space-y-6 items-center justify-center">
            <div class="flex flex-col space-y-6 items-center justify-center  ">
              <img src="assets/imgs/secure.svg" alt="Tuple" class="w-auto">
              <dl class="text-lg text-white text-center">
                <p class="text-center text-lg text-white">All in one <br>
                  Link up your fiat/crypto/NFT</p>
              </dl>
            </div>
          </li>
        </ul>
      </div>
  
    </section>
  
    <!--Quatrieme partie Fin-->
  
    <!--Cinquieme partie Debut-->
    <!-- <section
      class="py-14 md:py-16 flex flex-col space-y-14 justify-center items-center w-full bg-section   bg-no-repeat bg-cover">
      <div
        class="flex flex-col justify-center items-center text-center space-y-5  max-w-full md:max-w-7xl px-6 gsap_reveal gsap_reveal--fromBottom">
        <h2 class="text-center text-white tracking-wide font-bold text-xl md:text-2xl ">Build your winning strategies in 3
          minutes
        </h2>
        <p class="text-center text-white/90 font-light tracking-widest text-lg md:text-xl">The world's largest library of
          prompts to meet your goals:trading - income generation - information on the
          reliability of companies – companies’ or sovereign ratings, etc</p>
      </div>
  
      <div
        class="justify-center border border-white/75 p-6  rounded-lg max-w-full md:max-w-6xl px-6  gsap_reveal gsap_reveal--fromBottom">
        <h3 class="text-white ml-2 mt-2">Select content type</h3>
        <ul
          class=" ">
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Homepage Headline</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Homepage Content</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">About us Content</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Collection Title</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Collection Description</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Product Titles</li>
        
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Product Descriptions</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Page Meta Title</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Page Meta Description</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Product Page Meta Title</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">WhatsApp Message</li>
       
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Product Page Meta Description</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Email Subject Line</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Email Content</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">SMS Message</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Article</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Browser Notification</li>
        </ul>
  
        <ul class="md:flex grid grid-cols-3 gap-2 md:gap-0 place-items-center md:flex-row md:justify-center text-white space-x-6 my-6 ">
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">App Notification</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Ad Caption</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Ad Copy</li>
          <li class="rounded-lg bg-white/20 text-white p-2 text-sm">Social Media Page Description</li>
        </ul>
  
      </div>
    </section> -->
  
    <!--Cinquieme partie Fin-->
  
    <!--Sixieme partie Debut-->
    <section
      class="py-14 md:py-16 flex flex-col space-y-14 justify-center items-center w-full bg-section bg-no-repeat bg-contain md:bg-cover bg-bottom md:bg-center ">
      <div class="w-full flex flex-col justify-center space-y-8 items-center px-6  gsap_reveal gsap_reveal--fromBottom">
        <h3 class="text-center  tracking-wide uppercase sm:text-2xl text-white text-xl  font-bold ">wGPT Tokenomix &
          roadmap</h3>
        <div class="flex items-center flex-col md:flex-row space-x-0 space-y-8 justify-center md:space-y-0 md:space-x-8 ">
          <button
            class=" flex flex-row space-x-2 px-6 py-2 border-2 border-white text-center text-white text-base hover:text-[#44185B] hover:bg-white hover:font-semibold rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 ">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
            </svg>
            <span>
              wGPT white paper
            </span>
          </button>
  
          <button
            class="px-6 py-2 border-2 border-white text-center text-white text-base hover:text-[#44185B] hover:bg-white hover:font-semibold rounded">
            wGPT airdrop & ICO
          </button>
        </div>
      </div>
  
      <div
        class="flex flex-col md:flex-row space-x-0 md:space-x-10 md:space-y-0 space-y-10 justify-center max-w-full md:max-w-7xl px-6 items-center  gsap_reveal gsap_reveal--fromBottom">
  
        <div class="flex flex-col justify-center items-center">
          <img src="assets/imgs/Frame 13285.svg" alt="">
        </div>
        <div class="flex flex-col items-center py-6">
          <ul class="flex flex-col space-y-6 justify-center items-center">
            <li class="bg-white/20 p-[30px] rounded-md flex flex-row space-x-4 items-center w-full md:w-[80%]">
              <img src="assets/imgs/stat3.svg" class="w-6">
              <span class="text-white font-normal text-xl">Real-time sentiment analysis on
                all popular cryptocurrencies.</span>
            </li>
  
            <li class="bg-white/20 p-[30px] rounded-md flex flex-row space-x-4 items-center w-full md:w-[80%]">
              <img src="assets/imgs/stat1.svg" class="w-6">
              <span class="text-white font-normal text-xl">Real-time trading signals from state-of-the-art
                AI predictive models.</span>
            </li>
  
            <li class="bg-white/20 p-[30px] rounded-md flex flex-row space-x-4 items-center w-full md:w-[80%]">
              <img src="assets/imgs/stat2.svg" class="w-6">
              <span class="text-white font-normal text-xl">Let wGPT find the most appropriate metrics for your
                asset.</span>
            </li>
  
            <li class="bg-white/20 p-[30px] rounded-md flex flex-row space-x-4 items-center w-full md:w-[80%]">
              <img src="assets/imgs/stat4.svg" class="w-6">
              <span class="text-white font-normal text-xl">Let wGPT detect patterns of
                most promising graph on your
                pre-selected pieces</span>
            </li>
          </ul>
        </div>
  
      </div>
      <div class="text-white  max-w-full md:max-w-7xl px-6  gsap_reveal gsap_reveal--fromBottom">
        <img src="assets/imgs/roadmaps.svg" class="w-auto" alt="">
      </div>
      <div
        class="flex flex-row justify-center items-center  max-w-full md:max-w-7xl px-6  gsap_reveal gsap_reveal--fromBottom">
        <img src="assets/imgs/stat91.svg" class="w-auto" alt="">
      </div>
  
    </section>
  
  
    <!--Comment  
        <div class="space-x-12 mt-12  justify-center">
          <img  class="justify-center ml-12 mt-12 " src="assets/imgs/OBJECTS.svg" alt="">
          <img class="justify-center mt-12" src="assets/imgs/Frame 91.svg" alt="">
        </div>
        Fin-->
  
  
    <!--Sixieme partie Fin-->
  
    <!--Septieme partie Debut-->
    <section class="py-14 md:py-16 flex flex-col space-y-14 justify-center items-center w-full  ">
      <div class="w-full flex flex-col justify-center items-center  gsap_reveal gsap_reveal--fromBottom">
        <h1 class="text-center  tracking-wide uppercase sm:text-2xl text-white text-xl  font-bold ">LIVE TELEGRAM
          @walletGPT</h1>
      </div>
      <div class="flex flex-col justify-center items-center w-full space-y-12  gsap_reveal gsap_reveal--fromBottom">
        <div
          class="flex flex-col md:flex-row justify-center items-center space-y-8 md:space-y-0 space-x-0 md:space-x-8 max-w-full md:max-w-7xl px-6  ">
          <ul class="grid grid-cols-1 md:grid-cols-2  w-full gap-8">
            <li class=""><img src="assets/imgs/message.svg" alt=""></li>
            <li class=""><img src="assets/imgs/message-1.svg" alt=""></li>
            <li class=""><img src="assets/imgs/message-2.svg" alt=""></li>
            <li class=""><img src="assets/imgs/message-3.svg" alt=""></li>
          </ul>
        </div>
        <!-- <div class="flex flex-row space-x-1 h-12 bg-white/30 rounded-lg min-w-6xl max-w-6xl w-[90%] md:w-[40%]">
          <span
            class="block w-full   text-base border-0 element bg-transparent py-3 px-3 text-white outline-none placeholder:text-white  sm:text-base sm:leading-6"
            typingAnimator [typeSpeed]="100" [startDelay]="1000" [showCursor]="false"
            [sentences]="['Ask me anything ...', 'I optimise the prompt ...', 'I buy trade invested for you, even if you are not present ...']"></span> -->
        <!-- <input type="text" name="price" 
          class="block w-full  text-base border-0 element bg-transparent py-3 px-3 text-white outline-none placeholder:text-white  sm:text-base sm:leading-6"
           aria-describedby="price-currency"> -->
        <!-- <div class="pointer-events-none  flex items-center pr-3">
            <span class="text-gray-500 sm:text-base" id="price-currency"><img src="assets/imgs/send.svg" class=""
                alt=""></span>
          </div>
        </div> -->
      </div>
    </section>
  
    <!--Septieme partie Fin-->
  
    <!--Huitieme partie Debut-->
    <section
      class="py-14 md:py-16 mb-10 flex flex-col space-y-10 justify-center items-center w-full  bg-calque bg-cover bg-bottom bg-no-repeat">
      <div class="w-full flex flex-col justify-center items-center  gsap_reveal gsap_reveal--fromBottom">
        <h1 class="text-center  tracking-wide uppercase sm:text-2xl text-white text-xl  font-bold ">Funders and team
          WalletGPT</h1>
      </div>
      <div class="flex flex-col items-center py-6 max-w-7xl  gsap_reveal gsap_reveal--fromBottom">
        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-8">
          <li class="flex flex-col justify-center items-center">
            <div class="flex flex-col ">
              <div class="flex flex-col m-0 p-0 h-[218px] rounded-t justify-center items-center">
                <img src="assets/imgs/cristophe.svg" class="rounded-t" alt="">
              </div>
              <dl class="flex flex-col text-center p-4 justify-center items-center bg-white/20 rounded-b-xl">
                <dd class="text-[15px] font-semibold text-white text-center">Christophe KOURDOULY</dd>
                <dd class="text-sm font-extralight text-white text-center">CEO</dd>
              </dl>
            </div>
          </li>
          <li class="flex flex-col justify-center items-center">
            <div class="flex flex-col rounded-t">
              <div class="flex flex-col m-0 p-0 h-[218px] justify-center rounded-t items-center">
                <img src="assets/imgs/seb.svg" class="rounded-t" alt="">
              </div>
              <dl class="flex flex-col text-center p-4 justify-center items-center bg-white/20 rounded-b-xl">
                <dd class="text-[15px] font-semibold text-white text-center">Sebastien JEHAN </dd>
                <dd class="text-sm font-extralight text-white text-center">CTO</dd>
              </dl>
            </div>
          </li>
          <li class="flex flex-col justify-center items-center">
            <div class="flex flex-col rounded-t">
              <div class="flex flex-col m-0 p-0 h-[218px] justify-center items-centerrounded-t">
                <img src="assets/imgs/pierre.svg" class="rounded-t" alt="">
              </div>
              <dl class="flex flex-col text-center p-4 justify-center items-center bg-white/20 rounded-b-xl">
                <dd class="text-[15px] font-semibold text-white text-center">Pierre NOTTON</dd>
                <dd class="text-sm font-extralight text-white text-center">COO</dd>
              </dl>
            </div>
          </li>
          <li class="flex flex-col justify-center items-center">
            <div class="flex flex-col rounded-t">
              <div class="flex flex-col m-0 p-0 h-[218px] justify-center items-centerrounded-t">
                <img src="assets/imgs/oliver.svg" class="rounded-t" alt="">
              </div>
              <dl class="flex flex-col text-center p-4 justify-center items-center bg-white/20 rounded-b-xl">
                <dd class="text-[15px] font-semibold text-white text-center">Thomas FAURE ROMANELLI</dd>
                <dd class="text-sm font-extralight leading-10 text-white text-center">CFO</dd>
              </dl>
            </div>
          </li>
          <li class="flex flex-col justify-center items-center">
            <div class="flex flex-col rounded-t">
              <div class="flex flex-col w-[218px] h-[218px] bg-[#1D1F3D] rounded-t justify-center items-center">
                <img src="assets/imgs/ai.svg" class="w-1/2" alt="">
              </div>
              <dl class="flex flex-col text-center p-4 justify-center items-center bg-white/20 rounded-b-xl">
                <dd class="text-[15px] font-semibold text-white text-center">GPT</dd>
                <dd class="text-sm font-extralight leading-10 text-white text-center">WalletGPT</dd>
              </dl>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!--Huitieme partie Fin-->
  
  
    <app-footer-two></app-footer-two>