.bg-grad{
    background: radial-gradient(50% 50% at 50% 50%, rgba(29, 31, 61, 0.9) 0%, #1D1F3D 100%);
}

@keyframes slide-in-from-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .slide {
    animation: slide-in-from-left 2s ease-out;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown .dropdown-menu {
    padding-left: 0em !important;
  }
  