  
  /* screen - 1437_3596 */
  
  .group-1000004191 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 386px;
    padding: 0.0px 0;
    width: 1071px;
  }
  
  .overlap-group1 {
    height: 298px;
    position: relative;
    width: 1061px;
  }
  
  .overlap-group3 {
    height: 298px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1061px;
  }
  
  .overlap-group2 {
    height: 244px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1061px;
  }
  
  .overlap-group {
    height: 224px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 1061px;
  }
  
  .vector {
    height: 125px;
    left: 82px;
    position: absolute;
    top: 54px;
    width: 875px;
  }
  
  .vector-1 {
    height: 33px;
    left: 258px;
    position: absolute;
    top: 156px;
    width: 99px;
  }
  
  .vector-2 {
    height: 57px;
    left: 258px;
    position: absolute;
    top: 128px;
    width: 99px;
  }
  
  .vector-3 {
    height: 23px;
    left: 251px;
    position: absolute;
    top: 114px;
    width: 15px;
  }
  
  .vector-4 {
    height: 24px;
    left: 268px;
    position: absolute;
    top: 106px;
    width: 11px;
  }
  
  .vector-5 {
    height: 2px;
    left: 310px;
    position: absolute;
    top: 158px;
    width: 4px;
  }
  
  .vector-6 {
    height: 2px;
    left: 306px;
    position: absolute;
    top: 156px;
    width: 4px;
  }
  
  .vector-7 {
    height: 3px;
    left: 302px;
    position: absolute;
    top: 153px;
    width: 4px;
  }
  
  .vector-8 {
    height: 17px;
    left: 293px;
    position: absolute;
    top: 148px;
    width: 29px;
  }
  
  .vector-9 {
    height: 31px;
    left: 691px;
    position: absolute;
    top: 156px;
    width: 95px;
  }
  
  .vector-10 {
    height: 55px;
    left: 691px;
    position: absolute;
    top: 128px;
    width: 95px;
  }
  
  .vector-11 {
    height: 22px;
    left: 685px;
    position: absolute;
    top: 116px;
    width: 14px;
  }
  
  .vector-12 {
    height: 22px;
    left: 701px;
    position: absolute;
    top: 106px;
    width: 13px;
  }
  
  .vector-13 {
    height: 7px;
    left: 732px;
    position: absolute;
    top: 152px;
    width: 12px;
  }
  
  .vector-14 {
    height: 15px;
    left: 725px;
    position: absolute;
    top: 148px;
    width: 26px;
  }
  
  .july-2023 {
    left: 474px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 139px;
  }
  
  .vector-15 {
    height: 32px;
    left: 469px;
    position: absolute;
    top: 50px;
    width: 98px;
  }
  
  .vector-16 {
    height: 57px;
    left: 469px;
    position: absolute;
    top: 21px;
    width: 98px;
  }
  
  .vector-17 {
    height: 22px;
    left: 463px;
    position: absolute;
    top: 9px;
    width: 15px;
  }
  
  .vector-18 {
    height: 2px;
    left: 474px;
    position: absolute;
    top: 173px;
    width: 78px;
  }
  
  .group {
    height: 16px;
    left: 504px;
    position: absolute;
    top: 41px;
    width: 27px;
  }
  
  .vector-19 {
    height: 12px;
    left: 508px;
    position: absolute;
    top: 43px;
    width: 19px;
  }
  
  .october-2023-listing {
    left: 894px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 133px;
    width: 167px;
  }
  
  .vector-20 {
    height: 31px;
    left: 905px;
    position: absolute;
    top: 49px;
    width: 93px;
  }
  
  .vector-21 {
    height: 54px;
    left: 905px;
    position: absolute;
    top: 22px;
    width: 93px;
  }
  
  .vector-22 {
    height: 21px;
    left: 899px;
    position: absolute;
    top: 10px;
    width: 13px;
  }
  
  .vector-23 {
    height: 23px;
    left: 914px;
    position: absolute;
    top: 0;
    width: 12px;
  }
  
  .vector-24 {
    height: 15px;
    left: 939px;
    position: absolute;
    top: 41px;
    width: 25px;
  }
  
  .vector-25 {
    height: 4px;
    left: 948px;
    position: absolute;
    top: 47px;
    width: 16px;
  }
  
  .feb-2023-seed-money {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 162px;
    width: 148px;
  }
  
  .vector-26 {
    height: 33px;
    left: 7px;
    position: absolute;
    top: 49px;
    width: 102px;
  }
  
  .vector-27 {
    height: 58px;
    left: 7px;
    position: absolute;
    top: 20px;
    width: 102px;
  }
  
  .vector-28 {
    height: 23px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 15px;
  }
  
  .vector-29 {
    height: 2px;
    left: 0;
    position: absolute;
    top: 218px;
    width: 78px;
  }
  
  .group-1 {
    height: 20px;
    left: 43px;
    position: absolute;
    top: 39px;
    width: 34px;
  }
  
  .interfaces-validatio {
    left: 474px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 192px;
    width: 169px;
  }
  
  .vector-30 {
    height: 21px;
    left: 480px;
    position: absolute;
    top: 3px;
    width: 12px;
  }
  
  .vector-31 {
    height: 22px;
    left: 16px;
    position: absolute;
    top: 0;
    width: 8px;
  }
  
  .name {
    left: 245px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 235px;
    width: 178px;
  }
  
  .july-september-202 {
    left: 643px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 229px;
    width: 193px;
  }
  
  .vector-32 {
    height: 2px;
    left: 894px;
    position: absolute;
    top: 232px;
    width: 78px;
  }
  
  .adequate-experts-and {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 235px;
    width: 169px;
  }
  
  .skyrocketting-of-exc {
    left: 894px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 248px;
    width: 156px;
  }
  
  .vector-33 {
    align-self: center;
    height: 2px;
    margin-left: 293.67px;
    margin-top: 7px;
    width: 78px;
  }
  
  .vector-34 {
    height: 2px;
    margin-left: 245.11px;
    margin-top: 5px;
    width: 78px;
  }
  
  .flex-row {
    align-items: center;
    align-self: center;
    display: flex;
    gap: 230px;
    height: 64px;
    margin-left: 16.83px;
    margin-top: 6px;
    min-width: 598px;
  }
  
  .and-validation-of-al {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 3.52px;
    min-height: 45px;
    width: 169px;
  }
  
  .massive-marketing-de {
    letter-spacing: 0;
    line-height: normal;
    min-height: 64px;
    width: 200px;
  }
  