<div class="group-1000004191 text-primary hidden lg:block">
    <div class="overlap-group1">
      <div class="overlap-group3">
        <div class="overlap-group2">
          <div class="overlap-group productsans-bold-seance-18-2px">
            <img class="vector" src="assets/img/vector-9.svg" alt="Vector" />
            <img class="vector-1" src="assets/img/vector-10.svg" alt="Vector" />
            <img class="vector-2" src="assets/img/vector-11.svg" alt="Vector" />
            <img class="vector-3" src="assets/img/vector-12.svg" alt="Vector" />
            <img class="vector-4" src="assets/img/vector-13.svg" alt="Vector" />
            <img class="vector-5" src="assets/img/vector-15.svg" alt="Vector" />
            <img class="vector-6" src="assets/img/vector-16.svg" alt="Vector" />
            <img class="vector-7" src="assets/img/vector-17.svg" alt="Vector" />
            <img class="vector-8" src="assets/img/vector-18.svg" alt="Vector" />
            <img class="vector-9" src="assets/img/vector-19.svg" alt="Vector" />
            <img class="vector-10" src="assets/img/vector-20.svg" alt="Vector" />
            <img class="vector-11" src="assets/img/vector-21.svg" alt="Vector" />
            <img class="vector-12" src="assets/img/vector-22.svg" alt="Vector" />
            <img class="vector-13" src="assets/img/vector-24.svg" alt="Vector" />
            <img class="vector-14" src="assets/img/vector-25.svg" alt="Vector" />
            <div class="july-2023 font-semibold">July 2023</div>
            <img class="vector-15" src="assets/img/vector-26.svg" alt="Vector" />
            <img class="vector-16" src="assets/img/vector-27.svg" alt="Vector" />
            <img class="vector-17" src="assets/img/vector-28.svg" alt="Vector" />
            <img class="vector-18" src="assets/img/vector-30.svg" alt="Vector" />
            <img class="group" src="assets/img/group-2@2x.png" alt="Group" />
            <img class="vector-19" src="assets/img/vector-31.svg" alt="Vector" />
            <p class="october-2023-listing  font-semibold">October 2023<br />Listing on several Dex including Uniswap</p>
            <img class="vector-20" src="assets/img/vector-32.svg" alt="Vector" />
            <img class="vector-21" src="assets/img/vector-33.svg" alt="Vector" />
            <img class="vector-22" src="assets/img/vector-34.svg" alt="Vector" />
            <img class="vector-23" src="assets/img/vector-35.svg" alt="Vector" />
            <img class="vector-24" src="assets/img/vector-37.svg" alt="Vector" />
            <img class="vector-25" src="assets/img/vector-38.svg" alt="Vector" />
            <div class="feb-2023-seed-money font-semibold">Feb 2023<br />Seed money</div>
            <img class="vector-26" src="assets/img/vector-39.svg" alt="Vector" />
            <img class="vector-27" src="assets/img/vector-40.svg" alt="Vector" />
            <img class="vector-28" src="assets/img/vector-41.svg" alt="Vector" />
            <img class="vector-29" src="assets/img/vector-43.svg" alt="Vector" />
            <img class="group-1" src="assets/img/group-5@2x.png" alt="Group" />
          </div>
          <p class="interfaces-validatio text-sm text-primary/50">
            Interfaces validation and data management algorithms
          </p>
          <img class="vector-30" src="assets/img/vector-29.svg" alt="Vector" />
          <img class="vector-31" src="assets/img/vector-42.svg" alt="Vector" />
        </div>
        <p class="name productsans-bold-seance-18-2px  font-semibold">May 2023 <br />Corporate Legal structuration</p>
        <p class="july-september-202 productsans-bold-seance-18-2px font-semibold">
          July &amp; September 2023<br />Airdrop and presale of wGPT
        </p>
        <img class="vector-32" src="assets/img/vector-36.svg" alt="Vector" />
        <p class="adequate-experts-and text-sm text-primary/50">
          Adequate experts and founders to develop walletGPT / Qryptx NFT Shards and Qryptobank
        </p>
      </div>
      <p class="skyrocketting-of-exc text-sm text-primary/50">
        Skyrocketting of exclusive offers to make your wallet outperforming
      </p>
    </div>
    <img class="vector-33" src="assets/img/vector-23.svg" alt="Vector" />
    <img class="vector-34" src="assets/img/vector-14.svg" alt="Vector" />
    <div class="flex-row text-sm">
      <p class="and-validation-of-al text-primary/50">And validation of all agreements from wGPT to design B2C and B2B offers</p>
      <p class="massive-marketing-de text-primary/50">
        Massive marketing development, 50% discount on first wGPT that triggers answers from bots to strenghten your
        wallet
      </p>
    </div>
  </div>
 