.bg-grad::before {
  background: linear-gradient(259.29deg, #6D278E 6.16%, #FFFFFF 100%);
  z-index: 1;
  opacity: 0.1;
}

.bg-grad div {
  position: relative;
  z-index: 2;
}

.title {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 110%;
}

@media only screen and (max-width: 600px) {
  .title {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 110%;
  }
}



.bgcal {
  position: relative;
}

.bgcal::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(29, 31, 61, 0.2);
  /* Overlay color: black with 50% opacity */
  z-index: 1;
}

.bgcal div {
  position: relative;
  z-index: 2;
  color: white;
}

.img {
  border: 2px solid;
  border-image-source: linear-gradient(90deg, #FEDF17 0%, #F83719 100%);
}

.button {
  position: relative;
  background: transparent;
  border: none;
  padding: 10px 20px;
  color: #000;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, #FEDF17 0%, #F83719 100%);
  z-index: -1;
  border-radius: 5px;
  transition: all 0.2s;
}

.button:hover::before {
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
}

.navigation-wrapper {
  position: relative;
}

.keen-slider:not([data-keen-slider-disabled]) {
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  // align-content: flex-start;
  display: flex;
  position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  width: 100%;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
}

.arrow--left {
  z-index: 1000;
  left: -5%;
}

.arrow--right {
  z-index: 1000;
  right: -5%;
}


.no-scroll {
  overflow: hidden !important;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(-40%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}
.animate-bounce {
  animation: bounce 0.5s infinite;
}