<section id="section-1"
    class="w-full pb-6 bg-calque bg-cover bg-center  bg-no-repeat overflow-hidden flex flex-col  justify-center items-center ">
    <div
        class="w-full px-6 lg:px-8 flex flex-col space-y-28 justify-center items-center gsap_reveal gsap_reveal--fromBottom ">
        <div
            class="flex flex-col space-y-10 justify-center items-center w-full  gsap_reveal gsap_reveal--fromBottom max-w-full px-3 md:max-w-7xl">
            <div class="flex flex-col justify-center items-cente  max-w-full ">
                <h1 class="text-primary text-xl md:text-2xl text-center">Research to reality. The smart wallet that
                    thinks,
                    anticipates, and operates for you.</h1>
            </div>
            <div class="flex justify-center items-cente  max-w-full  ">
                <img src="assets/imgs/wallet+gpt.svg" class="w-full" alt="wallet+gpt">
            </div>
            <!-- grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  w-full gap-8 -->
            <div class="navigation-wrapper flex justify-center items-center w-full">
                <div class="keen-slider w-full bg-primary/50 rounded-lg p-2 justify-center items-center" #sliderRef2>
                    <div class="keen-slider__slide  ">
                        <img src="assets/imgs/fastcompany.svg" alt="forbes">
                    </div>
                    <div class="keen-slider__slide  ">
                        <img src="assets/imgs/techcrunch.svg" alt="forbes">
                    </div>
                    <div class="keen-slider__slide  ">
                        <img src="assets/imgs/mit.svg" alt="forbes">

                    </div>
                    <div class="keen-slider__slide  ">
                        <img src="assets/imgs/forbes.svg" alt="forbes">
                    </div>


                </div>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" (click)="slider2.prev()" class="arrow arrow--left w-12 h-12 text-primary/30">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
      <svg *ngIf="slider2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" (click)="slider2.next()" class="arrow arrow--right w-12 h-12 text-primary/30">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg> -->
            </div>


            <div class="navigation-wrapper flex justify-center items-center w-full">
                <div class="keen-slider w-full relative " #sliderRef>
                    <!-- <app-popover-content  [item]="item"></app-popover-content> -->
                    <!-- <div class="" *ngFor="let item of usesCases">
          <div (mouseenter)="show()" (mouseleave)="hides()"
              class="keen-slider__slide bg-primary/20 py-2 px-2 rounded-md flex flex-row space-x-4 cursor-pointer">
              <div class="flex flex-row justify-start items-start space-x-3">
                  <img src="assets/imgs/shield.svg" class="">
                  <div class="flex flex-col justify-start items-start space-y-1">
                      <span class="text-primary font-normal text-sm">{{item.title}}</span>
                      <p class="text-primary/50 text-xs font-normal line-clamp-2">{{item.description}}</p>
                  </div>
              </div>
          </div> -->
                    <!-- <div  class="absolute z-10 -top-[50%] mt-2 w-56 p-4 bg-white shadow-lg rounded-md" (mouseenter)="show()"
              (mouseleave)="hides()">
              <div class="flex flex-row justify-start items-start space-x-3">
                  <img src="assets/imgs/shield.svg" class="">
                  <div class="flex flex-col justify-start items-start space-y-1">
                      <span class="text-primary font-normal text-sm">{{item.title}}</span>
                      <p class="text-primary/50 text-xs font-normal">{{item.description}}</p>
                  </div>
              </div>
          </div> -->
                </div>
            </div>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" (click)="slider.prev()" class="arrow arrow--left w-12 h-12 text-primary/30">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
      <svg *ngIf="slider" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" (click)="slider.next()" class="arrow arrow--right w-12 h-12 text-primary/30">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg> -->
        </div>
    </div>
    <!-- </div> -->

</section>

<section id="how-it-work"
    class="bg-token py-14 md:py-16 mb-[20%] flex flex-col space-y-14 justify-center items-center w-full  bg-no-repeat bg-contain md:bg-cover bg-bottom md:bg-center ">
    <div
        class="hidden lg:flex w-full  flex-col justify-center space-y-8 items-center px-6  gsap_reveal gsap_reveal--fromBottom relative">
        <div class="flex flex-row min-w-[90%] justify-between items-center">
            <img src="assets/imgs/step-1.svg"
                class="w-auto transition ease-in-out  duration-1000 scale-105 hover:scale-125" alt="Ask me anything">
            <img src="assets/imgs/union-1.svg" class="w-[148px]" alt="arrow">
            <img src="assets/imgs/step-2.svg"
                class="w-auto transition ease-in-out  duration-1000 scale-105 hover:scale-125"
                alt="I optimise the best prompt for free">
        </div>
        <img src="assets/imgs/union-3.svg" class="w-12 absolute right-1/3 " alt="Step 3">
        <div class="flex flex-row min-w-[90%] justify-center items-center relative">
            <img src="assets/imgs/step-3.svg" class="w-1/2 transition ease-in-out  duration-1000  hover:scale-110"
                alt="Step 3">
        </div>
        <div
            class="flex flex-row min-w-lg justify-between space-x-10 items-start  absolute -bottom-0 right-[45%] left-[45%]">
            <img src="assets/imgs/union-3.svg" class="w-12 " alt="Step 3">
            <img src="assets/imgs/union-2.svg" class="w-12" alt="Step 3">
        </div>
        <div class="flex flex-row min-w-[85%] justify-between items-start absolute -bottom-[40%]">
            <img src="assets/imgs/step-robot.svg"
                class="w-auto transition ease-in-out  duration-1000 scale-105 hover:scale-125" alt="Step 3">
            <img src="assets/imgs/step-expert.svg"
                class="w-auto transition ease-in-out  duration-1000 scale-105 hover:scale-125" alt="Step 3">
        </div>
    </div>
    <div
        class="lg:hidden w-full flex flex-col justify-center space-y-8 items-center px-6  gsap_reveal gsap_reveal--fromBottom relative">
        <!-- <div class="flex flex-row min-w-[90%] justify-between items-center"> -->
        <img src="assets/imgs/step-1.svg" class="w-auto transition ease-in-out  duration-1000 scale-105 hover:scale-125"
            alt="Ask me anything">
        <!-- <img src="assets/imgs/union-1.svg" class="w-[148px]" alt="arrow"> -->
        <img src="assets/imgs/step-2.svg" class="w-auto transition ease-in-out  duration-1000 scale-105 hover:scale-125"
            alt="I optimise the best prompt for free">
        <!-- </div> -->
        <!-- <img src="assets/imgs/union-3.svg" class="w-12 absolute right-1/3 " alt="Step 3"> -->
        <!-- <div class="flex flex-row min-w-[90%] justify-center items-center relative"> -->
        <img src="assets/imgs/step-3.svg" class="w-auto transition ease-in-out  duration-1000  hover:scale-110"
            alt="Step 3">
        <!-- </div> -->
        <!-- <div class="flex flex-row min-w-lg justify-between space-x-10 items-start  absolute -bottom-0 right-[45%] left-[45%]">
    <img src="assets/imgs/union-3.svg" class="w-12 " alt="Step 3">
    <img src="assets/imgs/union-2.svg" class="w-12" alt="Step 3">
  </div> -->
        <!-- <div class="flex flex-row min-w-[85%] justify-between items-start absolute -bottom-[40%]"> -->
        <img src="assets/imgs/step-robot.svg"
            class="w-auto transition ease-in-out  duration-1000 scale-105 hover:scale-125" alt="Step 3">
        <img src="assets/imgs/step-expert.svg"
            class="w-auto transition ease-in-out  duration-1000 scale-105 hover:scale-125" alt="Step 3">
        <!-- </div> -->
    </div>

</section>

<!--Sixieme partie Debut-->
<section
    class="bg-token py-14 md:py-16 flex flex-col space-y-14 justify-center items-center w-full  bg-no-repeat bg-contain md:bg-cover bg-bottom md:bg-center ">
    <div id="tokenomix"
        class="w-full flex flex-col justify-center space-y-8 items-center px-6  gsap_reveal gsap_reveal--fromBottom">
        <h3 class="text-center  tracking-[0.25em] uppercase sm:text-xl text-primary text-xl font-light"><span
                class="lowercase">w</span>GPT Tokenomix & roadmap</h3>
        <div
            class="flex flex-wrap justify-center items-center space-y-4  md:space-y-0 space-x-4 md:space-x-8 max-w-full md:max-w-7xl px-2  ">
            <button
                class="flex flex-row space-x-2 px-6 py-2 border-2 border-primary/50 text-center text-primary/50 text-base  hover:text-white hover:bg-primary rounded">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 ">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                </svg>
                <span>
                    white paper wGPT
                </span>
            </button>

            <button
                class="px-6 py-2 border-2 border-primary/50 text-center text-primary/50 text-base  hover:text-white hover:bg-primary rounded">
                airdrop wGPT
            </button>
            <button
                class="px-6 py-2 border-2 border-primary/50 text-center text-primary/50 text-base  hover:text-white hover:bg-primary rounded">
                Hybrid bond issue
            </button>
        </div>
    </div>

    <div
        class="flex flex-col md:flex-row space-x-0 md:space-x-6 md:space-y-0 space-y-6 justify-between max-w-full md:max-w-7xl px-2  items-center  gsap_reveal gsap_reveal--fromBottom">

        <div class="flex flex-col justify-center items-center w-full md:w-1/2">
            <img src="assets/imgs/token.svg" class="w-11/12" alt="">
        </div>
        <div class="flex flex-col items-center py-6 w-full md:w-1/2">
            <ul class="flex flex-col space-y-6 justify-center items-center">
                <li class="p-[20px] text-center  tracking-[0.2em] uppercase  text-primary text-base font-light">4 strong
                    elements of wgpt on white paper</li>
                <li class="bg-white/50 p-[20px] rounded-md flex flex-row space-x-4 items-center w-full md:w-[80%]">
                    <img src="assets/imgs/leaderboard.svg" class="w-6">
                    <span class="text-primary/50 font-normal text-sm">You go from generative to performative: that is to
                        say you go
                        from the
                        theoretical answer to your question to the realization either by the
                        walletgpt robot or by appropriate experts</span>
                </li>

                <li class="bg-white/50 p-[20px] rounded-md flex flex-row space-x-4 items-center w-full md:w-[80%]">
                    <img src="assets/imgs/graphic-eq.svg" class="w-6">
                    <span class="text-primary/50 font-normal text-sm">wGPT will increase in value by the growing
                        willingness of an
                        expert's
                        exposure to the questions being asked</span>
                </li>

                <li class="bg-white/50 p-[20px] rounded-md flex flex-row space-x-4 items-center w-full md:w-[80%]">
                    <img src="assets/imgs/insights.svg" class="w-6">
                    <span class="text-primary/50 font-normal text-sm">You can access many club deals and copy all the
                        strategies
                        that are eligible for wgpt</span>
                </li>

                <li class="bg-white/50 p-[20px] rounded-md flex flex-row space-x-4 items-center w-full md:w-[80%]">
                    <img src="assets/imgs/ar.svg" class="w-6">
                    <span class="text-primary/50 font-normal text-sm">wGPT gives you access to all the ever-increasing
                        automatic
                        and personalized sources of income listed on walletGPT</span>
                </li>
            </ul>
        </div>

    </div>
    <div id="roadmap"
        class="flex flex-col md:flex-row space-x-0 md:space-x-6 md:space-y-0 space-y-6 justify-between max-w-full md:max-w-7xl px-2  items-center  gsap_reveal gsap_reveal--fromBottom">
        <app-roadmap class="hidden lg:block"></app-roadmap>
        <!-- <div class="max-w-full lg:max-w-7xl lg:hidden flex flex-col items-center justify-center"> -->
        <img src="assets/imgs/roadmap.svg" class="lg:hidden block w-full" alt="">
        <!-- </div> -->
    </div>

</section>

<!--Sixieme partie Fin-->

<!--Septieme partie Debut-->
<section class="bg-grad pt-14 md:py-8 flex flex-col space-y-14 justify-center items-center w-full  ">

    <div class="flex flex-col justify-center items-center w-full space-y-12  gsap_reveal gsap_reveal--fromBottom">
        <div
            class="flex flex-wrap sm:divide-x gap-4 sm:gap-0 divide-primary justify-between items-center  max-w-full md:max-w-7xl px-2 sm:px-6 ">
            <div class="flex flex-row space-x-1 px-4">
                <img src="assets/imgs/loader.svg" alt="loader" class="w-auto">
                <dl class="flex flex-col">
                    <dd class="text-xl md:text-2xl font-semibold text-primary text-center">567+</dd>
                    <dd class="text-sm font-normal text-primary text-center">request</dd>
                </dl>
            </div>
            <div class="flex flex-row space-x-1 px-4">
                <img src="assets/imgs/airdrop.svg" alt="loader" class="w-auto">
                <dl class="flex flex-col justify-start items-start">
                    <dd class="text-xl md:text-2xl font-semibold text-primary text-center">20k+</dd>
                    <dd class="text-sm font-normal text-primary text-center">airdrop users</dd>
                </dl>
            </div>
            <div class="flex flex-row space-x-1 px-4">
                <img src="assets/imgs/experts.svg" alt="loader" class="w-auto">
                <dl class="flex flex-col justify-start items-start">
                    <dd class="text-xl md:text-2xl font-semibold text-primary text-center">100+</dd>
                    <dd class="text-sm font-normal text-primary text-center">experts</dd>
                </dl>
            </div>
            <div class="flex flex-row space-x-1 px-4">
                <img src="assets/imgs/ico.svg" alt="loader" class="w-auto">
                <dl class="flex flex-col justify-start items-start">
                    <dd class="text-xl md:text-2xl font-semibold text-primary text-center">100+</dd>
                    <dd class="text-sm font-normal text-primary text-center">ICO reserved</dd>
                </dl>
            </div>
            <div class="flex flex-row space-x-1 px-4">
                <img src="assets/imgs/users.svg" alt="loader" class="w-auto">
                <dl class="flex flex-col justify-start items-start">
                    <dd class="text-xl md:text-2xl font-semibold text-primary text-center">48k</dd>
                    <dd class="text-sm font-normal text-primary text-center">Users wGPT</dd>
                </dl>
            </div>
            <div class="px-4 text-lg font-light leading-6 text-primary flex flex-row space-x-2 items-center">
                <img src="assets/imgs/trustpilot.svg" alt="trustpilot">
            </div>
            <div class="flex flex-row space-x-3 px-4">
                <img src="assets/imgs/boost.svg" alt="loader" class="w-auto">
                <dl class="flex flex-col justify-start items-start">
                    <dd class="text-sm  font-semibold text-primary text-center">waiting for the first counting</dd>
                    <dd class="text-sm font-normal text-primary text-center">(to be certified by similar web)</dd>
                </dl>
            </div>
        </div>
        <div
            class="flex flex-row justify-center items-center space-y-0 space-x-4 md:space-x-8 max-w-full md:max-w-7xl px-2  ">
            <button
                class="px-6 py-2 border-2 border-primary/50 text-center text-primary/50 text-base  hover:text-white hover:bg-primary rounded">
                Investor access
            </button>

            <button
                class="px-6 py-2 border-2 border-primary/50 text-center text-primary/50 text-base  hover:text-white hover:bg-primary rounded">
                wGPT ecosystem
            </button>
        </div>
    </div>
</section>

<!--Septieme partie Fin-->

<!--Huitieme partie Debut-->
<section id="team"
    class="bg-grad py-14  mb-10 flex flex-col space-y-4 justify-center items-center w-full  bg-calque bg-cover bg-bottom bg-no-repeat">
    <div class="w-full flex flex-col justify-center items-center  gsap_reveal gsap_reveal--fromBottom">
        <h1 class="text-center  tracking-[0.25em] uppercase sm:text-xl text-primary text-xl  font-light ">Funders and
            team
            WalletGPT</h1>
    </div>
    <div class="flex flex-col items-center py-3 px-5 max-w-[82rem]  gsap_reveal gsap_reveal--fromBottom">
        <ul class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-8">
            <li class="flex flex-col justify-center items-center">
                <div class="flex flex-col ">
                    <div
                        class="flex flex-col m-0 p-0 h-[170px] w-[170px] bg-[url('assets/imgs/christophe.svg')] bg-cover bg-no-repeat bg-center justify-center rounded-t items-center">
                        <!-- <img src="assets/imgs/seb.svg" class="rounded-t" alt=""> -->
                    </div>
                    <dl
                        class="flex flex-col text-center px-2 py-4 justify-center items-center bg-primary/20 rounded-b-xl">
                        <dd class="text-[12px] font-semibold text-primary text-center">Christophe KOURDOULY</dd>
                        <dd class="text-[10px] font-extralight text-primary text-center">CEO</dd>
                    </dl>
                </div>
            </li>
            <li class="flex flex-col justify-center items-center">
                <div class="flex flex-col rounded-t">
                    <div
                        class="flex flex-col m-0 p-0 h-[170px] w-[170px] bg-[url('assets/imgs/seb.svg')] bg-cover bg-no-repeat bg-center justify-center rounded-t items-center">
                        <div
                            class=" ease-in-out delay-150  flex h-[170px] w-[170px] bg-primary/20 justify-center items-center ">
                            <div class=" flex flex-row justify-center items-center divide-x w-full ">
                                <a href="" class="px-2">
                                    <img src="assets/imgs/fb.svg" alt="fb"
                                        class="w-4 ease-out delay-100 hover:scale-105">
                                </a>
                                <a href="" class="px-2 ">
                                    <img src="assets/imgs/lk.svg" alt="fb"
                                        class="w-4 ease-out delay-100 hover:scale-105">
                                </a>
                                <a href="" class="px-2">
                                    <img src="assets/imgs/tw.svg" alt="fb"
                                        class="w-4 ease-out delay-100 hover:scale-105">
                                </a>
                            </div>
                        </div>
                    </div>
                    <dl
                        class="flex flex-col text-center px-2 py-4 justify-center items-center bg-primary/20 rounded-b-xl">
                        <dd class="text-[12px] font-semibold text-primary text-center">Sebastien JEHAN </dd>
                        <dd class="text-[10px] font-extralight text-primary text-center">CTO</dd>
                    </dl>
                </div>
            </li>
            <li class="flex flex-col justify-center items-center">
                <div class="flex flex-col rounded-t">

                    <div
                        class="flex flex-col m-0 p-0 h-[170px] w-[170px] bg-[url('assets/imgs/pierre.svg')] bg-cover bg-no-repeat bg-center justify-center rounded-t items-center">
                        <!-- <img src="assets/imgs/seb.svg" class="rounded-t" alt=""> -->
                    </div>
                    <dl
                        class="flex flex-col text-center px-2 py-4 justify-center items-center bg-primary/20 rounded-b-xl">
                        <dd class="text-[12px] font-semibold text-primary text-center">Pierre NOTTON</dd>
                        <dd class="text-[10px] font-extralight text-primary text-center">COO</dd>
                    </dl>
                </div>
            </li>
            <li class="flex flex-col justify-center items-center">
                <div class="flex flex-col rounded-t ">
                    <div
                        class="flex flex-col m-0 p-0 h-[170px] w-[170px] bg-[url('assets/imgs/thomas.svg')] bg-cover bg-no-repeat bg-center justify-center rounded-t items-center">

                    </div>
                    <dl
                        class="flex flex-col text-center px-2 py-4 justify-center items-center bg-primary/20 rounded-b-xl">
                        <dd class="text-[12px] font-semibold text-primary text-center">Thomas FAURE ROMANELLI</dd>
                        <dd class="text-[10px] font-extralight text-primary text-center">CFO</dd>
                    </dl>
                </div>
            </li>
            <!-- <li class="flex flex-col justify-center items-center">
      <div class="flex flex-col rounded-t">
        <div
          class="flex flex-col h-[170px] w-[170px] bg-[url('assets/imgs/robot.svg')]  bg-no-repeat bg-center bg-primary rounded-t justify-center items-center">
        </div>
        <dl class="flex flex-col text-center px-2 py-4 justify-center items-center bg-primary/20 rounded-b-xl">
          <dd class="text-[12px] font-semibold text-primary text-center">Cindy DORKENOO</dd>
          <dd class="text-[10px] font-extralight text-primary text-center">Training Center Manager</dd>
        </dl>
      </div>
    </li> -->
            <li class="flex flex-col justify-center items-center">
                <div class="flex flex-col rounded-t">
                    <div
                        class="flex flex-col h-[170px] w-[170px] bg-[url('assets/imgs/robot.svg')]  bg-no-repeat bg-center bg-primary rounded-t justify-center items-center">
                    </div>
                    <dl
                        class="flex flex-col text-center px-2 py-4 justify-center items-center bg-primary/20 rounded-b-xl">
                        <dd class="text-[12px] font-semibold text-primary text-center">GPT</dd>
                        <dd class="text-[10px] font-extralight text-primary text-center">WalletGPT</dd>
                    </dl>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--Huitieme partie Fin-->
<app-footer id="footer"></app-footer>

<!-- <a *ngIf="step!=='home'" (click)="scrollToElement('home')" class="fixed z-[1100] animate-bounce right-4 bottom-4 flex flex-row space-x-5 hover:bg-primary hover:text-white text-primary border-2 border-primary px-3 py-2 rounded-full cursor-pointer">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
  <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
  <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
</svg>
<span>Home</span>    
</a> -->