<header class="flex flex-col justify-center items-center w-full bg-transparent px-6 md:px-0">
    <nav class="flex max-w-7xl min-w-7xl w-full items-center justify-between  md:justify-center bg-transparent py-8 "
      aria-label="Global">
      <div class="flex lg:flex-1">
        <a [routerLink]="['/']" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-14 md:h-16 w-auto" src="assets/imgs/logo-beta.svg" alt="WalletGPT">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" (click)="isOpen=!isOpen" class="inline-flex text-white">
          <span class="sr-only">Open main menu</span>
          <svg class="h-10 w-10 text-white" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12 items-center">
        <a href="#" class="text-lg font-light leading-6 text-white">Create my wallet and my debit card - free of charge</a>
        <a href="#" class="text-lg font-light leading-6 text-white">wGPT airdrop & ICO</a>
        <a href="#"
        class="text-lg font-light leading-6 text-white">Statistiques <br> Investisseurs</a>
  
        <div class="flex flex-row space-x-2 items-center">
          <img class="w-10" src="assets/imgs/Vector.svg" alt="">
          <div class=" flex flex-col space-y-0">
            <a href="#" class="text-base font-light text-white ">SignIn</a>
            <a href="#" class="text-base font-light text-white ">
              SignUp</a>
          </div>
        </div>
        <div class="flex flex-row bg-white text-[#1D1F3D] rounded items-center space-x-2 p-1">
          <label for=""><img src="assets/imgs/Frame.svg" alt=""></label>
          <select class="text-sm font-light leading-6  bg-white text-[#1D1F3D] rounded items-center" name="" id="">
            <option value="">Fr</option>
            <option value="">En</option>
          </select>
        </div>
  
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
  
    <div [ngClass]="{'hidden transition ease-out delay-300':!isOpen, 'block transition ease-in delay-300':isOpen}"  role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-10 "></div>
      <div class="fixed inset-y-0 right-0 z-10 w-full bg-grad overflow-hidden bg-white px-6 py-6 sm:max-w-sm h-s\">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-14 w-auto" src="assets/imgs/logo-beta.svg" alt="WalletGPT">
          </a>
          <button (click)="isOpen=!isOpen" type="button" class="text-white">
            <span class="sr-only">Close menu</span>
            <svg class="h-10 w-10 text-white" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6  justify-center items-center flex flex-col text-white h-full">
          <div class="-my-6 divide-y divide-gray-500/10 h-full">
            <div class="space-y-2 py-6 relative h-full flex items-center justify-center">
              <div class="flex flex-col justify-start  space-y-1 h-full ">
                <a href="#"
                  class=" block rounded-lg px-3 py-2 text-base font-light leading-7 text-white hover:bg-[#44185B]">Create my wallet and my debit card - free of charge</a>
                <a href="#"
                  class="block rounded-lg px-3 py-2 text-base font-light leading-7 text-white hover:bg-[#44185B]">wGPT airdrop & ICO</a>
                  <a href="#"
                  class="block rounded-lg px-3 py-2 text-base font-light leading-7 text-white hover:bg-[#44185B]">Statistiques <br> Investisseurs</a>
               
              </div>
              <div class="flex flex-col justify-center items-center space-y-3 absolute bottom-[10%] inset-x-1">
                <div class="flex flex-row space-x-2 items-center">
                  <img class="w-8" src="assets/imgs/Vector.svg" alt="">
                  <div class=" flex flex-col space-y-0">
                    <a href="#" class="text-sm font-light text-white ">SignIn</a>
                    <a href="#" class="text-sm font-light text-white ">
                      SignUp</a>
                  </div>
                </div>
                <div class="flex justify-center items-center">
                  <div class="divide-x mr-4 flex flex-row ">
                    <a class="text-white cursor-pointer transition-all px-4">
                      <img class="w-7" [src]="'assets/imgs/fr-FR.webp'" alt="fr-FR">
                    </a>
                    <a class="text-white cursor-pointer transition-all px-4">
                      <img class="w-7" [src]="'assets/imgs/en-US.webp'" alt="en-US">
                    </a>
                  </div>
                </div>
                <div class="flex flex-row space-x-6 justify-center items-center">
                  <a href="#">
                    <img src="assets/imgs/et_facebook.svg" alt="et_facebook">
                  </a>
                  <a href="#">
                    <img src="assets/imgs/et_twitter-2.svg" alt="et_twitter">
                  </a>
                  <a href="#">
                    <img src="assets/imgs/carbon_logo-instagram.svg" alt="carbon_logo-instagram">
                  </a>
                  <a href="#">
                    <img src="assets/imgs/carbon_logo-2.svg" alt="carbon_logo-instagram">
                  </a>
                  <a href="#">
                    <img src="assets/imgs/carbon_logo-3.svg" alt="carbon_logo-instagram">
                  </a>
                </div>
              </div>
  
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </header>